.background-color-primary {
    background-color: #1fa67a;
}

.background-color-secondary {
    background-color: #7a1fa6;
}

.background-color-tertiary {
    background-color: #a67a1f;
}

.background-color-primary-complement {
    background-color: #a61f4b;
}
